<div class="container">
  <div class="row mt-5">
    <div class="col-lg-6">
      <h4>Widget info</h4>
      <dl>
        <dt>Widget</dt>
        <dd><%= @widget['name'] %></dd>
      </dl>
    </div>
  </div>
</div>
